.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gutter-0 > * {
  padding: 0;
}

.gutter-0 {
  margin-left: 0;
  margin-right: 0;
}

.gutter-12 > * {
  padding: 12px;
}

.gutter-12 {
  margin-left: -12px;
  margin-right: -12px;
}

.gutter-24 > * {
  padding: 24px;
}

.gutter-24 {
  margin-left: -24px;
  margin-right: -24px;
}

.content-flex-start {
  justify-content: flex-start;
}

.content-flex-end {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
}

.content-space-between {
  justify-content: space-between;
}

.content-space-around {
  justify-content: space-around;
}

.align-content-center {
  align-items: center;
}

.align-content-start {
  align-items: start;
}

.align-content-end {
  align-items: end;
}

.align-content-flex-start {
  align-items: flex-start;
}

.align-content-flex-end {
  align-items: flex-end;
}

.align-content-stretch {
  align-items: stretch;
}

.order-minus-1 {
  order: -1;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

@media (min-width: 0) {
  .xs-1-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 12.5%;
  }
  .xs-2-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .xs-3-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 37.5%;
  }
  .xs-4-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .xs-5-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 62.5%;
  }
  .xs-6-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .xs-7-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 87.5%;
  }
  .xs-8-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .sm-1-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 12.5%;
  }
  .sm-2-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .sm-3-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 37.5%;
  }
  .sm-4-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .sm-5-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 62.5%;
  }
  .sm-6-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .sm-7-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 87.5%;
  }
  .sm-8-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .md-1-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 12.5%;
  }
  .md-2-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .md-3-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 37.5%;
  }
  .md-4-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .md-5-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 62.5%;
  }
  .md-6-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .md-7-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 87.5%;
  }
  .md-8-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .lg-1-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 12.5%;
  }
  .lg-2-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .lg-3-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 37.5%;
  }
  .lg-4-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .lg-5-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 62.5%;
  }
  .lg-6-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .lg-7-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 87.5%;
  }
  .lg-8-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .xl-1-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 12.5%;
  }
  .xl-2-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .xl-3-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 37.5%;
  }
  .xl-4-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .xl-5-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 62.5%;
  }
  .xl-6-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .xl-7-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 87.5%;
  }
  .xl-8-wide {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.grey-bckg {
  background-color: #9aa5b1;
  padding: 20px;
  border: 2px solid black;
}