// Cassiopeia colour variables
$dark-jungle-green: #0F2C28;
$xanadu: #7D8A7C;
$phthalo-green: #13362F;
$msu-green: #224B44;
$msu-dark: #163731;
$dark-slate-gray: #2C4B46;
$blue-grey: #c2d1d0;
$teal-grey: #95aeaf;
$blue-grey2: #6d898e;
$blue-grey3: #4b636d;
$blue-grey4: #2e3f4c;
$blue-black: #16202b;
$dark-black: #04060a;

// greys
$grey1: #7e7e7e;
$grey2: #f7f7f7;
$grey3: #e1e1e1;
$grey4: #cfcfcf;
$grey5: #b1b1b1;
$grey6: #9e9e9e;
$grey7: #7e7e7e;
$grey8: #626262;
$grey9: #515151;
$grey10: #3b3b3b;
$grey11: #222222;

// blue greys
$bluey-grey1: #627d98;
$bluey-grey2: #f0f4f8;
$bluey-grey3: #d9e2ec;
$bluey-grey4: #bcccdc;
$bluey-grey5: #9fb3c8;
$bluey-grey6: #829ab1;
$bluey-grey7: #627d98;
$bluey-grey8: #486581;
$bluey-grey9: #334e68;
$bluey-grey10: #243b53;
$bluey-grey11: #102a43;


// cool greys
$cool-grey1: #616e7c;
$cool-grey2: #f5f7fa;
$cool-grey3: #e4e7eb;
$cool-grey4: #cbd2d9;
$cool-grey5: #9aa5b1;
$cool-grey6: #7b8794;
$cool-grey7: #616e7c;
$cool-grey8: #52606d;
$cool-grey9: #3e4c59;
$cool-grey10: #323f4b;
$cool-grey11: #1f2933;

$purple: #a43fe8;

// neons

$pink: #ff1178;
$red: #fe0000;
$yellow: #fff205;
$blue: #01fff4;
$green: #7cff01;

$neon-pink: #f72585;
$pinky-purple: #b5179e;
$bright-purple: #7209b7;
$dark-purple: #480ca8;
$azure: #4361ee;
$cornflower: #4895ef;
$neon-blue: #4cc9f0;

$alt-yellow: #f3d34a;
$alt-blue: #52d1dc;
$alt-org: #fbaf00;
$alt-pink: #ffa3af;
$alt-green: #7fb069;
$hot-pink: #dd1155;
$alt-purple: #6457a6;