.nav-bar {
  max-height: 120px;
}

.theme-platform {
  background-color: #515151;
  padding: 10px 20px;
}

.theme-platform h6 {
  font-size: 18px;
}

.nav-bar .cui-logo {
  max-height: 75px;
  width: auto;
  object-fit: cover;
}

.nav-bar .install {
  color: white;
  text-decoration: none;
  position: relative;
  top:-20px;
}

.nav-bar .docs {
  color: white;
  text-decoration: none;
  position: relative;
  top:-20px;
}

.github-logo {
  max-height: 75px;
  width: auto;
  object-fit: cover;
}

.nav-bar ul {
  text-align: right;
}

.hero {
  background-color: #363636;
  padding-top:50px;
  padding-bottom: 70px;
}

.text-black {
  color: black !important;
}

.text-black:hover {
  color: white !important;
}

.button-links {
  font-size:  20px;
}

.hero-content h1 {
  font-size: 104px;
}

.hero-content p {
  font-size: 40px;
}

.stars-img {
  padding-top: 50px;
  padding-left: 50px;
}
.core {
  padding-bottom: 70px;
}

.core h2 {
  font-size: 70px;
}

.key-features h2 {
  font-size: 50px;
}

.core .card {
  width: 27% !important;
  background-color: #363636;
}

.core .card img {
  height: 200px !important;
  width: auto !important;
  object-fit: cover;
  margin: auto;
  display: block;
}

.core .card h3 {
  font-size: 40px;
}

.core .card p {
  font-size: 23px;
}

.core-values h3 {
  font-size: 40px;
}

.core-values .card p {
  font-size: 23px;
}

.core-values .card {
  background-color: #363636;
  margin-left: auto;
  margin-right: auto;
}

.core-values .card img {
  max-height: 200px !important;
  width: auto !important;
  object-fit: cover;
  margin: auto;
  display: block;
}

@media only screen and (min-width: 1100px) {
  .core-values {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .core {
    display: none;
  }
}

.key-features {
  background-color: #363636;
  padding-top: 70px;
  padding-bottom: 70px;
}

.width-100 {
  width: 100%;
}

.key-features .platform {
  height: 150px;
  background-color: #5F5D5D !important;
}

.key-features .component img{
  max-height: 130px;
}

.key-features h4 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.docs-btn {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}

p.about-details {
  font-size: 30px;
}

.about-img {
  height:600px;
  background-image: url(docsassets/moon-blue.jpg);
}

.hover-link:hover{
  color: #ff6c22;
}

.contain-docs {
  background-color: #009dc3;
  padding: 20px;
}

.org-bckg {
 background-color: #ff6c22;
 padding: 20px;
}

.blue-bckg {
  background-color: #009dc3;
  padding: 20px;
}

.green-bckg {
  background-color: #00c46e;
  padding: 20px;
}

.purp-bckg {
  background-color: #ff8a89;
  padding: 20px;
}

h4.temp-head {
  font-size: 40px;
}

h6.temp-head {
  font-size: 30px;
}

@media only screen and (max-width: 850px) {
  .hero h1 {
    font-size: 60px;
  }

  .hero p {
    font-size: 25px;
  }

  .hero .stars-img {
    padding-top: 0px;
    padding-left: 0px;
  }

  .component {
    height: 250px !important;
  }

  .card {
    width: 75% !important;
  }
}

