<!DOCTYPE html>
<html>
<head>
<title>Blog Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <div class="front-nav">
            <a href="index.html" class="text-decoration-none">
              <h3 class="Roboto grey3">Dye it Red</h3>
            </a>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="team.html" class="text-decoration-none">
               <h6 class="Roboto grey3">Our Team</h6>
              </a>
            </li>
            <li>
              <a href="services.html" class="text-decoration-none">
                <h6 class="Roboto grey3">Services</h6>
              </a>
            </li>
            <li>
              <a href="contact.html" class="text-decoration-none">
                <h6 class="Roboto grey3">Contact</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="xl-container">
      <div class="row gutter-24">
        <div class="xs-12-wide md-4-wide">
          <div class="contact-info">
            <h1 class="Roboto grey3">Get in Touch</h1>
            <h3 class="Roboto grey3">Tel: +347786908</h3>
            <h3 class="Roboto grey3">Email: info@dyeitred.ie</h3>
            <h3 class="Roboto grey3">13 White Road, Waterford</h3>
            <h3 class="Roboto grey3">Tues - Sun 9.30 - 18.30</h3>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <img src="assets/equipment.jpeg" class="fit-width">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xl-container">
      <div class="row">
        <h3 class="Roboto grey11">Dye it Red</h3>
      </div>
      <a href="https://www.flaticon.com/free-icons/quote" class="Roboto grey11" title="quote icons">Quote icons created by Muhamad Ulum - Flaticon</a>
    </div>
  </div>
</body>
</html>