<!DOCTYPE html>
<html>
<head>
<title>Blog Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <div class="front-nav">
            <a href="index.html" class="text-decoration-none">
              <h3 class="Roboto grey3">Dye it Red</h3>
            </a>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="team.html" class="text-decoration-none">
               <h6 class="Roboto grey3">Our Team</h6>
              </a>
            </li>
            <li>
              <a href="services.html" class="text-decoration-none">
                <h6 class="Roboto grey3">Services</h6>
              </a>
            </li>
            <li>
              <a href="contact.html" class="text-decoration-none">
                <h6 class="Roboto grey3">Contact</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hero img-no-repeat img-cover position-center"></div>
  <div class="testimonial">
    <div class="xl-container">
      <div class="platform elevation-9">
        <div class="quotes">
          <img src="assets/quotation-mark.png" class="quote-mark">
        </div>
        <p class="Roboto align-center grey5">
          Sarah and the team were wonderful. I’ve been coming back for years now and they
          give you the best care in the best environment. I look forward to my next appointment,
          to feel fabulous at the end!!
        </p>
      </div>
    </div>
  </div>
  <div class="our-team">
    <div class="team-img">
      <div class="img-no-repeat img-cover position-center team"></div>
    </div>
    <div class="team-text">
      <h3 class="Roboto white">Get to Know Us</h3>
      <a href="team.html" class="Roboto button outline-pink-5 hover-fill">Meet the Team</a>
    </div>
  </div>
  <div class="book">
    <div class="xl-container">
      <h4 class="Roboto grey4 align-center">We have 97% customer satisfaction. Why not give us a try?</h4>
      <a href="contact.html" class="Roboto button outline-pink-5 hover-fill get-in-touch">Get In Touch</a>
    </div>
  </div>
  <div class="footer">
    <div class="xl-container">
      <div class="row">
        <h3 class="Roboto grey11">Dye it Red</h3>
      </div>
      <a href="https://www.flaticon.com/free-icons/quote" class="Roboto grey11" title="quote icons">Quote icons created by Muhamad Ulum - Flaticon</a>
    </div>
  </div>
</body>
</html>