<!DOCTYPE html>
<html>
<head>
<title>Blog Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <div class="front-nav">
            <a href="index.html" class="text-decoration-none">
              <h3 class="Roboto grey3">Dye it Red</h3>
            </a>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="team.html" class="text-decoration-none">
               <h6 class="Roboto grey3">Our Team</h6>
              </a>
            </li>
            <li>
              <a href="services.html" class="text-decoration-none">
                <h6 class="Roboto grey3">Services</h6>
              </a>
            </li>
            <li>
              <a href="contact.html" class="text-decoration-none">
                <h6 class="Roboto grey3">Contact</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="xl-container">
      <h1 class="Roboto grey2">Services</h1>
      <div class="row gutter-12">
        <div class="xs-12-wide md-4-wide">
          <div class="cuts">
            <h3 class="Roboto grey2">Cuts</h3>
            <p class="Roboto grey3">
              Dye it Red have experience in a variety of haircuts and styles. We offer all cuts for all hair lengths at varying price points. Drop us a call
              to find out more.
              <br>
              Price List:
              <ul class="Roboto grey3">
                <li> Short hair : Cut and Blowdry = €35 </li>
                <li> Long hair : Cut and Blowdry = €50 </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <div class="styles">
            <h3 class="Roboto grey2">Stylings</h3>
            <p class="Roboto grey3">
              Weddings, debs, landmark birthdays or just a regular Tuesday we do stylings. A consoltation a week before and then we can allocate you an appointment.
              Feel and look fab for whatever day. Sometimes you don't need an occasion to feel fabulous!
              <br>
              Price List:
              <ul class="Roboto grey3">
                <li> Prices given following consoltation. Consoltation flat-fee: €10 to hold appointment.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="haircut img-no-repeat img-cover position-center"></div>
    <div class="xl-container">
      <div class="row gutter-12">
        <div class="xs-12-wide md-4-wide">
          <div class="cuts">
            <h3 class="Roboto grey2">Colours</h3>
            <p class="Roboto grey3">
              We deal in wacky colours and can make your wildest dreams and aspirations happen. With only the best colour formulas and pre-bleach testings
              we are experts at making your hair as personable as possible
              <br>
              Price List:
              <ul class="Roboto grey3">
                <li> Starts at €75 (limited appointments) </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <div class="styles">
            <h3 class="Roboto grey2">Treatments</h3>
            <p class="Roboto grey3">
              Is your hair flat and out of life? Why not book a treatment to bring your hair back to its full potential. Nourish and replensih your glossy locks.
              <br>
              Price List:
              <ul class="Roboto grey3">
                <li>Bleached hair treatment = €60</li>
                <li>Replenish treatment = €45</li>
                <li>Nourish and Gloss = €55</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xl-container">
      <div class="row">
        <h3 class="Roboto grey11">Dye it Red</h3>
      </div>
      <a href="https://www.flaticon.com/free-icons/quote" class="Roboto grey11" title="quote icons">Quote icons created by Muhamad Ulum - Flaticon</a>
    </div>
  </div>
</body>
</html>