<!DOCTYPE html>
<html>
<head>
<title>Blog Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <div class="front-nav">
            <a href="index.html" class="text-decoration-none">
              <h3 class="Roboto grey3">Dye it Red</h3>
            </a>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="team.html" class="text-decoration-none">
               <h6 class="Roboto grey3">Our Team</h6>
              </a>
            </li>
            <li>
              <a href="services.html" class="text-decoration-none">
                <h6 class="Roboto grey3">Services</h6>
              </a>
            </li>
            <li>
              <a href="contact.html" class="text-decoration-none">
                <h6 class="Roboto grey3">Contact</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="our-team">
    <div class="xl-container">
      <h1 class="Roboto grey3">Our Team</h1>
    </div>
    <div class="team-row team-member-1">
      <div class="xl-container">
        <div class="row gutter-12">
          <div class="xs-1-wide md-3-wide">
            <img src="assets/sarah-hd.jpeg" class="img-fit-width">
          </div>
          <div class="xs-7-wide md-5-wide">
            <h3 class="Roboto grey3">Sarah</h3>
            <p class="Roboto grey3">
              Sarah studied at Paris hair school, specialising in colouring Sarah is a master at her craft. Constantly bringing the fun vibes to the studio and bringing
              out the best in her clients hair. 
            </p>
            <p class="Roboto grey3">
              She opened Dye it Red after returning home for France in 2011 and has been successful in becoming a well-known hairdressing studio. 
              Constantly looking to up her game and up the vibes in the studio.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="team-row team-member-2">
      <div class="xl-container">
        <div class="row gutter-12">
          <div class="xs-7-wide md-5-wide">
            <h3 class="Roboto grey3">Shannon</h3>
            <p class="Roboto grey3">
              Shannon studied at Dublin hair school. She has grown a rep for giving lifeless hair a lift, nourishing and giving hair a whole new vibe
            </p>
            <p class="Roboto grey3">
              Her hair concoctions are akin to magic and are tailored for your hair needs. Dry and lifeless, Shannon has it. Needing a gloss, Shannon has you covered.
              Come see Shannon and see how she can change your hairs life!
            </p>
          </div>
          <div class="xs-1-wide md-3-wide">
            <img src="assets/shannon-hd.jpeg" class="img-fit-width">
          </div>
        </div>
      </div>
    </div>
    <div class="team-row team-member-3">
      <div class="xl-container">
        <div class="row gutter-12">
          <div class="xs-1-wide md-3-wide">
            <img src="assets/leah-hd.jpeg" class="img-fit-width">
          </div>
          <div class="xs-7-wide md-5-wide">
            <h3 class="Roboto grey3">Leah</h3>
            <p class="Roboto grey3">
              Leah studied in Limerick and has a wand for scissors. She'll shape and layer your hair to give it a lift and a stunning vibe.
            </p>
            <p class="Roboto grey3">
              Leah won the hairdresser of the year award at the well-known Limerick Studio before moving to Dye it Red upon request and she hasn't looked back since.
              Leah has a wand of a right hand and has a knack for knowing a style for every face shape. If you want a change in shape why not book a consoltation with our
              Hermione Granger.
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xl-container">
      <div class="row">
        <h3 class="Roboto grey11">Dye it Red</h3>
      </div>
      <a href="https://www.flaticon.com/free-icons/quote" class="Roboto grey11" title="quote icons">Quote icons created by Muhamad Ulum - Flaticon</a>
    </div>
  </div>
</body>
</html>