.card {
  background-color: $cool-grey8;
  padding: 20px;
  //customisable margin
  @for $margin from 1 through 100 {
    &.margin-#{$margin} {
      margin: $margin + 0px;
    }
  }

  @for $marginleft from 1 through 100 {
    &.margin-left-#{$marginleft} {
      margin-left: $marginleft + 0px;
    }
  }

  @for $marginright from 1 through 100 {
    &.margin-right-#{$marginright} {
      margin-right: $marginright + 0px;
    }
  }

  @for $margintop from 1 through 100 {
    &.margin-top-#{$margintop} {
      margin-top: $margintop + 0px;
    }
  }

  @for $marginbottom from 1 through 100 {
    &.margin-bottom-#{$marginbottom} {
      margin-bottom: $marginbottom + 0px;
    }
  }

  //customisable padding
  @for $padding from 1 through 100 {
    &.padding-#{$padding} {
      padding: $padding + 0px;
    }
  }

  @for $paddingleft from 1 through 100 {
    &.padding-left-#{$paddingleft} {
      padding-left: $paddingleft + 0px;
    }
  }

  @for $paddingright from 1 through 100 {
    &.padding-right-#{$paddingright} {
      padding-right: $paddingright + 0px;
    }
  }

  @for $paddingtop from 1 through 100 {
    &.padding-top-#{$paddingtop} {
      padding-top: $paddingtop + 0px;
    }
  }

  @for $paddingbottom from 1 through 100 {
    &.padding-bottom-#{$paddingbottom} {
      padding-bottom: $paddingbottom + 0px;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit:cover;

    &.with-hover {
      transition: all .25s ease-in-out;
    }
  }

  .heading {
    font-size: 30px;
    padding-bottom: 20px;
  }

 .metadata {
   opacity: 0.7;
   padding-top: 20px;
 }

  @for $card-width from 1 through 100 {
    @if $card-width % 10 == 0 {
      &.horizontal-#{$card-width} {
        max-width: 0% + $card-width;
      }
    }
  }

  @for $cw from 1 through 100 {
    @if $cw % 10 == 0 {
      &.vertical-#{$cw} {
        max-width: 0% + $cw;
      }
    }
  }

  &.h-w-img {
    display: flex;

    img {
      max-width: 40%;
      position: relative;
      overflow: hidden;
      max-width: 40%;
      margin-right: 15px;
    }
  }

  .v-w-img {
    padding-bottom: 20px;
  }

  .horizontal {
    max-width: 40%;
  }

  .vertical {
    max-width: 20%;
  }

  .content {
    color: white;
    opacity: 0.87;
  }
}