<!DOCTYPE html>
<html>
<head>
<title>Product Sales Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <ul class="horizontal align-right">
        <li>
          <a href="#features" class="text-decoration-none">
            <h6 class="Roboto grey3">Features</h6>
          </a>
        </li>
        <li>
          <a href="#faqs" class="text-decoration-none">
            <h6 class="Roboto grey3">FAQ's</h6>
          </a>
        </li>
        <li>
          <a href="#buy" class="text-decoration-none">
            <h6 class="Roboto grey3">Buy Now</h6>
          </a>
        </li>
        <li>
          <a href="#contact" class="text-decoration-none">
            <h6 class="Roboto grey3">Contact</h6>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero">
    <div class="xl-container">
      <div class="row">
        <div class="xs-8-wide md-5-wide">
          <h1 class="Lato grey2 margin-top-150 margin-bottom-10">Surround <br> Speaker</h1>
          <h4 class="Lato grey3 subtitle">Take your listening experience all around you</h4>
          <a href="#features">
            <img src="assets/down-arrow.png" class="arrow-down">
          </a>
        </div>
        <div class="xs-8-wide md-3-wide">
          <img src="assets/speaker.jpg" class="fit-width">
        </div>
      </div>
    </div>
  </div>
  <div class="features" id="features">
    <div class="xl-container">
      <div class="row gutter-24">
        <div class="xs-8-wide md-5-wide">
          <img src="assets/speaker2.jpg" class="fit-width">
        </div>
        <div class="xs-8-wide md-3-wide">
          <h4 class="Lato grey4 feat-headline">Key Features:</h4>
          <ul class="Lato grey4">
            <li>Surround sound </li>
            <li>Bluetooth connectivity</li>
            <li>Application for better control</li>
            <li>Voice Assistant</li>
            <li>Controllable sound </li>
            <li>Available in four colours</li>
            <li>Chargeable for times off plug</li>
            <li>Water and dust proof</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 <div class="testimonials">
   <div class="xl-container">
    <div class="platform elevation-7">
      <h4 class="Lato black text-uppercase">Hear it from our customers:</h4>
      <p class="Lato grey11 align-center">“Best speaker and I’ve tried hundreds”</p>
      <p class="Lato grey11 align-center">“Wonderful sound quality”</p>
      <p class="Lato grey11 align-center">“I have 4, they’re that good”</p>
    </div>
  </div>
 </div>
 <div class="faq" id="faqs">
   <div class="xl-container">
     <h4 class="Lato grey4 align-center">FAQ'S</h4>
     <div class="row gutter-8">
       <div class="xs-8-wide md-4-wide">
         <h5 class="Lato boldest grey3">What is the price of surround speaker?</h5>
       </div>
       <div class="xs-8-wide md-4-wide">
        <h5 class="Lato grey3 margin-top-70 answer">Starts at €95.99</h5>
      </div>
     </div>
     <div class="row gutter-8">
      <div class="xs-8-wide md-4-wide">
        <h5 class="Lato boldest grey3">Where can I buy surround speaker?</h5>
      </div>
      <div class="xs-8-wide md-4-wide">
       <h5 class="Lato grey3 margin-top-70 answer">Surround speaker can be purchased at speaker.com</h5>
     </div>
    </div>
     <div class="row gutter-8">
      <div class="xs-8-wide md-4-wide">
        <h5 class="Lato boldest grey3">What is the app to operate Surround Speaker?</h5>
      </div>
      <div class="xs-8-wide md-4-wide">
       <h5 class="Lato grey3 margin-top-70 answer">The app is called Control the Surroundings</h5>
     </div>
    </div>
    <div class="row gutter-8">
      <div class="xs-8-wide md-4-wide">
        <h5 class="Lato boldest grey3">How long is shipping?</h5>
      </div>
      <div class="xs-8-wide md-4-wide">
       <h5 class="Lato grey3 margin-top-70 answer">Typically 4-6 weeks</h5>
     </div>
    </div>
    <div class="row gutter-8">
      <div class="xs-8-wide md-4-wide">
        <h5 class="Lato boldest grey3 ">Where is Surround Speaker made?</h5>
      </div>
      <div class="xs-8-wide md-4-wide">
       <h5 class="Lato grey3 margin-top-70 answer">Portugal</h5>
     </div>
    </div>
    </div>
   </div>
  </div>
   <div class="buy-now" id="buy">
     <div class="xl-container">
       <h4 class="lato grey3 align-center"> Are you interested?</h4>
       <a href="#" class="Lato grey4 button blue hover-outline">Buy now</a>
     </div>
   </div>
   <div class="contact" id="contact">
     <div class="xl-container">
       <h4 class="Lato grey3 text-uppercase">GET IN TOUCH</h4>
       <p class="Lato grey4">We love to hear from you so drop us an email @ <a class="Lato blue-no-dec" href="mailto:feedback@surroundspeakers.com">feedback@surroundspeakers.com</a></p>
     </div>
   </div>
  <div class="footer">
    <div class="xl-container">
      <h4 class="Roboto grey3 align-center text-uppercase"> Surround speaker</h4>
      <a href="https://www.flaticon.com/free-icons/arrows" title="arrows icons">Arrows icons created by Shahid-Mehmood - Flaticon</a>
    </div>
  </div>
</body>
</html>