<!DOCTYPE html>
<html>
<head>
<title>Blog Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <div class="front-nav">
            <a href="index.html" >
              <img class="temp-logo" src="assets/blog.png" >
            </a>
            <ul class="Roboto horizontal">
              <li class="nav-links"><a href="about.html" class="grey2 text-decoration-none">About</a></li>
              <li class="nav-links"><a href="blog.html" class="grey2 text-decoration-none">Blog</a></li>
              <li class="nav-links"><a href="gallery.html" class="grey2 text-decoration-none">Gallery</a></li>
            </ul>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials insta-icon" src="assets/instagram.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials fb-icon" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials twt-icon" src="assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="xl-container">
      <div class="row gutter-12">
        <div class="xs-12-wide md-6-wide">
          <h3 class="Roboto white">About Me</h3>
          <p class="Roboto white">
            Hi! I'm Dan or Daniel or Danny, depending on who I'm talking to. I'm from Vancouver, Canada and I love to travel.
          </p>
          <p class="Roboto white">
            I spent time working as a photographer for a travel agent so was always on the move and had so many photos to share.
            I decided to set up this blog to share my own adventures after leaving that job for more freedom. Though I miss the perks 
            and my old co-workers and co-travellers, it's been refreshing meeting new people in whatever corner of the world I want 
            as oppose to wherever my job sends me
          </p>
          <p class="Roboto white">
            I hope you'll join me on my adventure for travel tips. My favourite places, hidden gems and the likes while exploring cultural differences.
          </p>
        </div>
        <div class="xs-12-wide md-2-wide">
          <img class="img-profile fit-width" src="assets/dan.jpeg">
        </div>
      </div>
    </div>
    <div class="what-want">
      <div class="xl-container">
        <div class="row gutter-12">
          <div class="xs-12-wide md-1-wide">
            <img src="assets/dan.jpeg" class="border-radius-50 fit-width img-about">
          </div>
          <div class="xs-12-wide md-7-wide">
            <h5 class="Roboto grey4">What I want?</h5>
            <p class="Roboto grey4">I want to create a space for wanderlust travellers to interact with one another and get helpful tips. As a canadian I frequently have to travel
            for hours and for high cost to other parts of the world and other people will be saving for years for these trips so I want to help them 
            uncover the best things to do on their travels. I want them to know the highlights of everywhere and avoid the duds. Hope I can help, hit me up on
            insta @travelwithdanmarch for more info :D </p>
          </div>
        </div>
      </div>
    </div>
    <div class="history">
      <div class="xl-container">
        <div class="row gutter-24">
          <div class="xs-12-wide md-6-wide">
            <h4 class="Roboto grey4">History</h4>
            <p class="Roboto white">
              As I said earlier, I studied photography in college and got a job at a small magazine then graduated to a well-known global travel agent. I was sent on a mission
              across South East Asia to photograph along with 3 other photographers who ended up becoming some of my best friends. We travelled across Cambodia, Malaysia, Thailand, Indonesia, Vietnam and Singapore.
              Saw the most amazing places and ate the most incredible food. When I got back I was so exhausted and decided to take a well-deserved break. 
            </p>
            <p class="Roboto white">
              I pretty quickly yearned to travel again so undertook a trip across South America with my best friend, Maria and I wanted to share my photos so I set up this blog and it's taken me to so many amazing
              places and opened so many doors and afforded me amazing opportunities.
            </p>
          </div>
          <div class="xs-12-wide xs-2-wide">
            <img src="assets/camera-bag.jpeg" class="fit-width">
          </div>
        </div>
      </div>
    </div>
    <div class="gallery">
      <div class="xl-container">
        <div class="gallery-heading">
          <h1 class="Roboto white align-center">
            Gallery
          </h1>
        </div>
        <div class="row gutter-24">
          <div class="xs-4-wide md-2-wide">
            <img src="assets/bridge.jpeg" class="fit-width">
            <h6 class="Roboto grey6">Lisbon bridge</h6>
          </div>
          <div class="xs-4-wide md-2-wide">
            <img src="assets/tokyo.jpeg" class="fit-width">
            <h6 class="Roboto grey6">Tokyo City</h6>
          </div>
          <div class="xs-4-wide md-2-wide">
            <img src="assets/radio-city.jpeg" class="fit-width">
            <h6 class="Roboto grey6">Radio City</h6>
          </div>
          <div class="xs-4-wide md-2-wide">
            <img src="assets/paris.jpeg" class="fit-width">
            <h6 class="Roboto grey6">Eiffel Tower</h6>
          </div>
        </div>
        <a class="width-100 button outline-yellow-5 hover-fill Roboto grey3" href="gallery.html">See the gallery</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xl-container">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <p class="Roboto grey6">Travel with Dan</p>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials insta-icon" src="assets/instagram.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials fb-icon" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials twt-icon" src="assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    <a href="https://www.flaticon.com/free-icons/blog" title="blog icons" class="Roboto grey10">Blog icons by nangicon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons" class="Roboto grey10">Instagram icons by Pixel perfect - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons" class="Roboto grey10">Facebook icons by Pixel perfect - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons" class="Roboto grey10">Twitter icons by Pixel perfect - Flaticon</a>
  </div>
</body>
</html>