<!DOCTYPE html>
<html>
<head>
<title>Blog Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <div class="front-nav">
            <a href="index.html" >
              <img class="temp-logo" src="assets/blog.png" >
            </a>
            <ul class="Roboto horizontal">
              <li class="nav-links"><a href="about.html" class="grey2 text-decoration-none">About</a></li>
              <li class="nav-links"><a href="blog.html" class="grey2 text-decoration-none">Blog</a></li>
              <li class="nav-links"><a href="gallery.html" class="grey2 text-decoration-none">Gallery</a></li>
            </ul>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials insta-icon" src="assets/instagram.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials fb-icon" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials twt-icon" src="assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery">
    <div class="xl-container">
      <div class="gallery-heading">
        <h1 class="Roboto white align-center">
          Gallery
        </h1>
      </div>
      <div class="row gutter-24">
        <div class="xs-4-wide md-2-wide">
          <img src="assets/bridge.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Lisbon bridge</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/tokyo.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Tokyo City</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/radio-city.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Radio City</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/paris.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Eiffel Tower</h6>
        </div>
      </div>
      <div class="row gutter-24">
        <div class="xs-4-wide md-2-wide">
          <img src="assets/tokyo.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Tokyo city</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/paris.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Eiffel Tower</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/bridge.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Lisbon bridge</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/radio-city.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Radio city</h6>
        </div>
      </div>
      <div class="row gutter-24">
        <div class="xs-4-wide md-2-wide">
          <img src="assets/bridge.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Lisbon bridge</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/tokyo.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Tokyo City</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/radio-city.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Radio City</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/paris.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Eiffel Tower</h6>
        </div>
      </div>
      <div class="row gutter-24">
        <div class="xs-4-wide md-2-wide">
          <img src="assets/tokyo.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Tokyo city</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/paris.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Eiffel Tower</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/bridge.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Lisbon bridge</h6>
        </div>
        <div class="xs-4-wide md-2-wide">
          <img src="assets/radio-city.jpeg" class="fit-width">
          <h6 class="Roboto grey6">Radio city</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xl-container">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <p class="Roboto grey6">Travel with Dan</p>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials insta-icon" src="assets/instagram.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials fb-icon" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials twt-icon" src="assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    <a href="https://www.flaticon.com/free-icons/blog" title="blog icons" class="Roboto grey10">Blog icons by nangicon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons" class="Roboto grey10">Instagram icons by Pixel perfect - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons" class="Roboto grey10">Facebook icons by Pixel perfect - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons" class="Roboto grey10">Twitter icons by Pixel perfect - Flaticon</a>
  </div>
</body>
</html>