<!DOCTYPE html>
<html>
<head>
<title>Blog Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <div class="front-nav">
            <a href="index.html" >
              <img class="temp-logo" src="assets/blog.png" >
            </a>
            <ul class="Roboto horizontal">
              <li class="nav-links"><a href="about.html" class="grey2 text-decoration-none">About</a></li>
              <li class="nav-links"><a href="blog.html" class="grey2 text-decoration-none">Blog</a></li>
              <li class="nav-links"><a href="gallery.html" class="grey2 text-decoration-none">Gallery</a></li>
            </ul>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials insta-icon" src="assets/instagram.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials fb-icon" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials twt-icon" src="assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hero">
    <div class="position-center img-cover bckg img-no-repeat"></div>
    <div class="content">
      <h1 class="Roboto white align-center">Travel with Dan</h1>
      <p class="Roboto white align-center">Join Dan March on his travels round the world</p>
      <a class="button outline-yellow-5 hover-fill Roboto grey4 align-center">About Dan</a>
    </div>
  </div>
  <div class="recent-posts">
    <div class="xl-container">
    <h2 class="Roboto white align-center opacity-100">Recent Posts</h2>
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <a href="post.html" class="text-decoration-none">
            <div class="post-card">
              <img class="fit-width" src="assets/radio-city.jpeg">
              <h3 class="Roboto white text-decoration-none">Radio City</h3>
            </div>
          </a>
        </div>
        <div class="xs-12-wide md-4-wide">
          <a href="post.html" class="text-decoration-none">
            <div class="post-card">
              <img class="fit-width" src="assets/tokyo.jpeg">
              <h3 class="Roboto white text-decoration none">Tokyo</h3>
            </div>
          </a>
        </div>
      </div>
      <a class="archive-link button outline-yellow-5 hover-fill Roboto grey4 align-center" href="archive.html">View the archive</a>
    </div>
  </div>
  <div class="feature">
    <div class="feature-img position-center img-cover img-no-repeat"></div>
    <div class="info-post">
      <h2 class="Roboto black opacity-100">NYC 2018</h2>
      <a class="button outline-yellow-5 hover-fill Roboto grey11 align-center opacity-100" href="post.html">Read More</a>
    </div>
  </div>
  <div class="about">
    <div class="xl-container">
      <div class="row">
        <div class="xs-12-wide md-3-wide">
          <img class="img-profile fit-width" src="assets/dan.jpeg">
        </div>
        <div class="xs-12-wide md-5-wide">
          <div class="about-content">
            <h3 class="Roboto white">About Me</h3>
            <p class="Roboto white">
              Hi! I'm Dan or Daniel or Danny, depending on who I'm talking to. I'm from Vancouver, Canada and I love to travel.
            </p>
            <p class="Roboto white">
              I spent time working as a photographer for a travel agent so was always on the move and had so many photos to share.
              I decided to set up this blog to share my own adventures after leaving that job for more freedom. Though I miss the perks 
              and my old co-workers and co-travellers, it's been refreshing meeting new people in whatever corner of the world I want 
              as oppose to wherever my job sends me
            </p>
            <p class="Roboto white">
              I hope you'll join me on my adventure for travel tips. My favourite places, hidden gems and the likes while exploring cultural differences.
            </p>
            <a class="width-100 button outline-yellow-5 hover-fill Roboto grey3">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xl-container">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <p class="Roboto grey6">Travel with Dan</p>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials insta-icon" src="assets/instagram.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials fb-icon" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials twt-icon" src="assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    <a href="https://www.flaticon.com/free-icons/blog" title="blog icons" class="Roboto grey10">Blog icons by nangicon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons" class="Roboto grey10">Instagram icons by Pixel perfect - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons" class="Roboto grey10">Facebook icons by Pixel perfect - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons" class="Roboto grey10">Twitter icons by Pixel perfect - Flaticon</a>
  </div>
</body>
</html>