<!DOCTYPE html>
<html>
<head>
<title>Blog Template</title>
<link rel="stylesheet" href="css/constellation-ui-min.css">
<link rel="stylesheet" href="css/custom.css">
</head>
<body>
  <div class="nav-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <div class="front-nav">
            <a href="index.html" >
              <img class="temp-logo" src="assets/blog.png" >
            </a>
            <ul class="Roboto horizontal">
              <li class="nav-links"><a href="about.html" class="grey2 text-decoration-none">About</a></li>
              <li class="nav-links"><a href="blog.html" class="grey2 text-decoration-none">Blog</a></li>
              <li class="nav-links"><a href="gallery.html" class="grey2 text-decoration-none">Gallery</a></li>
            </ul>
          </div>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials insta-icon" src="assets/instagram.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials fb-icon" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials twt-icon" src="assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="post">
    <p class="Roboto white align-center">14 Apr 2022</p>
    <h1 class="Roboto white align-center">Lisbon Visit</h1>
    <div class="position-center img-cover bckg img-no-repeat"></div>
    <div class="xl-container">
      <h6 class="Roboto grey2">Travel</h6>
      <p class="Roboto grey2">
        Lisbon, the capital of Portugal, a gorgeous city near the sea. Known for its red rooves, old castle encompassing the city, mountains and impeccable view. I
        had the pleasure of visiting April for 3 days.
      </p>
      <p class="Roboto grey2">
        It was a tepid 20º for most of our stay and thankfully we saw no rain (in contrast to Paris where we travelled from and needed an umbrella everywhere).
        We checked into the Big Blue Hotel in the Lisboa region. We got in late so went straight for food wating some portugese cuisine from the famous Tabuaria do Paço. 
        I went for Octopus salad and it was ... interesting. Would recommend trying it. We headed back to the Big Blue Hotel for some well needed shuteye after our train from Paris.
      </p>
      <p class="Roboto grey2">
        We started bright and early next day and went to visit Belem Tower, a tower set out in water and it was busy. There were so many people lapping up the view and 
        sat on the waterfront. We made our way to the Rua Augusta Arch and took a traditional tram to the Sao Jorge Castle. My legs were dead by then and we munched on some 
        Pastel de Nata, a delicacy that is popular everywhere but native to Portugal. They have flaky pastry and a custard filling and they are just as good as they sound.
      </p>
      <p class="Roboto grey2">
        We joined a walking tour next day and saw some of the tourist attractions. We opted to get the train over to the Jesus statue over the knock off golden gate bridge. 
        Seriously if you saw this thing in a photo you may mistake it for the San Francisco landmark. We ate Arroz de pato this evening at a local restaurant. A duck rice customary 
        to Portugal. This was delicious, I would highly recommend.
      </p>
      <p class="Roboto grey2">
        I went solo on the next day for a day trip to Sintra a complex with many castles and breathtaking views. I wish Jay came and shared this but he was dead on his feet so 
        opted to stay back for a day. I don't think my pictures did it justice.
      </p>
      <p class="Roboto grey2">
        If you're thinking about visiting, just do it (not a nike ad). It's spectacular and has different vibes to so many other European cities.
      </p>
      <div class="row gutter-24">
        <div class="xs-12-wide md-2-wide">
          <img src="assets/bridge.jpeg" class="fit-width">
        </div>
        <div class="xs-12-wide md-6-wide">
          <img src="assets/belem.jpeg" class="fit-width">
        </div>
      </div>
      <div class="row">
        <img src="assets/sintra.jpeg" class="fit-width">
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xl-container">
      <div class="row">
        <div class="xs-12-wide md-4-wide">
          <p class="Roboto grey6">Travel with Dan</p>
        </div>
        <div class="xs-12-wide md-4-wide">
          <ul class="socials-links horizontal align-right">
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials insta-icon" src="assets/instagram.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials fb-icon" src="assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">
                <img class="socials twt-icon" src="assets/twitter.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    <a href="https://www.flaticon.com/free-icons/blog" title="blog icons" class="Roboto grey10">Blog icons by nangicon - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons" class="Roboto grey10">Instagram icons by Pixel perfect - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons" class="Roboto grey10">Facebook icons by Pixel perfect - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons" class="Roboto grey10">Twitter icons by Pixel perfect - Flaticon</a>
  </div>
</body>
</html>