@font-face {
  font-family: RobotoSlab;
  font-weight:100;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-Thin.woff2);
  src: url(../../fonts/RobotoSlab-Thin.woff);
  src: url(../../fonts/RobotoSlab-Thin.eot);
  src: url(../../fonts/RobotoSlab-Thin.svg);
  src: url(../../fonts/RobotoSlab-Thin.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight:200;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-ExtraLight.woff2);
  src: url(../../fonts/RobotoSlab-ExtraLight.woff);
  src: url(../../fonts/RobotoSlab-ExtraLight.eot);
  src: url(../../fonts/RobotoSlab-ExtraLight.svg);
  src: url(../../fonts/RobotoSlab-ExtraLight.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight:300;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-Light.woff2);
  src: url(../../fonts/RobotoSlab-Light.woff);
  src: url(../../fonts/RobotoSlab-Light.eot);
  src: url(../../fonts/RobotoSlab-Light.svg);
  src: url(../../fonts/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight:400;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-Regular.woff2);
  src: url(../../fonts/RobotoSlab-Regular.woff);
  src: url(../../fonts/RobotoSlab-Regular.eot);
  src: url(../../fonts/RobotoSlab-Regular.svg);
  src: url(../../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight:500;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-Medium.woff2);
  src: url(../../fonts/RobotoSlab-Medium.woff);
  src: url(../../fonts/RobotoSlab-Medium.eot);
  src: url(../../fonts/RobotoSlab-Medium.svg);
  src: url(../../fonts/RobotoSlab-Medium.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight:600;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-SemiBold.woff2);
  src: url(../../fonts/RobotoSlab-SemiBold.woff);
  src: url(../../fonts/RobotoSlab-SemiBold.eot);
  src: url(../../fonts/RobotoSlab-SemiBold.svg);
  src: url(../../fonts/RobotoSlab-SemiBold.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight:700;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-Bold.woff2);
  src: url(../../fonts/RobotoSlab-Bold.woff);
  src: url(../../fonts/RobotoSlab-Bold.eot);
  src: url(../../fonts/RobotoSlab-Bold.svg);
  src: url(../../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight:800;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-ExtraBold.woff2);
  src: url(../../fonts/RobotoSlab-ExtraBold.woff);
  src: url(../../fonts/RobotoSlab-ExtraBold.eot);
  src: url(../../fonts/RobotoSlab-ExtraBold.svg);
  src: url(../../fonts/RobotoSlab-ExtraBold.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight:900;
  font-style: normal;
  src: url(../../fonts/RobotoSlab-Black.woff2);
  src: url(../../fonts/RobotoSlab-Black.woff);
  src: url(../../fonts/RobotoSlab-Black.eot);
  src: url(../../fonts/RobotoSlab-Black.svg);
  src: url(../../fonts/RobotoSlab-Black.ttf);
}

@font-face {
  font-family: Merriweather;
  font-weight:300;
  font-style: normal;
  src: url(../../fonts/Merriweather-Light.woff2);
  src: url(../../fonts/Merriweather-Light.woff);
  src: url(../../fonts/Merriweather-Light.eot);
  src: url(../../fonts/Merriweather-Light.svg);
  src: url(../../fonts/Merriweather-Light.ttf);
}

@font-face {
  font-family: Merriweather;
  font-weight:300;
  font-style: italic;
  src: url(../../fonts/Merriweather-LightItalic.woff2);
  src: url(../../fonts/Merriweather-LightItalic.woff);
  src: url(../../fonts/Merriweather-LightItalic.eot);
  src: url(../../fonts/Merriweather-LightItalic.svg);
  src: url(../../fonts/Merriweather-LightItalic.ttf);
}

@font-face {
  font-family: Merriweather;
  font-weight:400;
  font-style: normal;
  src: url(../../fonts/Merriweather-Regular.woff2);
  src: url(../../fonts/Merriweather-Regular.woff);
  src: url(../../fonts/Merriweather-Regular.eot);
  src: url(../../fonts/Merriweather-Regular.svg);
  src: url(../../fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: Merriweather;
  font-weight:400;
  font-style: italic;
  src: url(../../fonts/Merriweather-Italic.woff2);
  src: url(../../fonts/Merriweather-Italic.woff);
  src: url(../../fonts/Merriweather-Italic.eot);
  src: url(../../fonts/Merriweather-Italic.svg);
  src: url(../../fonts/Merriweather-Italic.ttf);
}

@font-face {
  font-family: Merriweather;
  font-weight:700;
  font-style: normal;
  src: url(../../fonts/Merriweather-Bold.woff2);
  src: url(../../fonts/Merriweather-Bold.woff);
  src: url(../../fonts/Merriweather-Bold.eot);
  src: url(../../fonts/Merriweather-Bold.svg);
  src: url(../../fonts/Merriweather-Bold.ttf);
}

@font-face {
  font-family: Merriweather;
  font-weight:700;
  font-style: italic;
  src: url(../../fonts/Merriweather-BoldItalic.woff2);
  src: url(../../fonts/Merriweather-BoldItalic.woff);
  src: url(../../fonts/Merriweather-BoldItalic.eot);
  src: url(../../fonts/Merriweather-BoldItalic.svg);
  src: url(../../fonts/Merriweather-BoldItalic.ttf);
}

@font-face {
  font-family: Merriweather;
  font-weight:900;
  font-style: normal;
  src: url(../../fonts/Merriweather-Black.woff2);
  src: url(../../fonts/Merriweather-Black.woff);
  src: url(../../fonts/Merriweather-Black.eot);
  src: url(../../fonts/Merriweather-Black.svg);
  src: url(../../fonts/Merriweather-Black.ttf);
}

@font-face {
  font-family: Merriweather;
  font-weight:900;
  font-style: italic;
  src: url(../../fonts/Merriweather-BlackItalic.woff2);
  src: url(../../fonts/Merriweather-BlackItalic.woff);
  src: url(../../fonts/Merriweather-BlackItalic.eot);
  src: url(../../fonts/Merriweather-BlackItalic.svg);
  src: url(../../fonts/Merriweather-BlackItalic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  src: url(../../fonts/Roboto-Thin.woff2);
  src: url(../../fonts/Roboto-Thin.woff);
  src: url(../../fonts/Roboto-Thin.eot);
  src: url(../../fonts/Roboto-Thin.svg);
  src: url(../../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: italic;
  src: url(../../fonts/Roboto-ThinItalic.woff2);
  src: url(../../fonts/Roboto-ThinItalic.woff);
  src: url(../../fonts/Roboto-ThinItalic.eot);
  src: url(../../fonts/Roboto-ThinItalic.svg);
  src: url(../../fonts/Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url(../../fonts/Roboto-Light.woff2);
  src: url(../../fonts/Roboto-Light.woff);
  src: url(../../fonts/Roboto-Light.eot);
  src: url(../../fonts/Roboto-Light.svg);
  src: url(../../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url(../../fonts/Roboto-LightItalic.woff2);
  src: url(../../fonts/Roboto-LightItalic.woff);
  src: url(../../fonts/Roboto-LightItalic.eot);
  src: url(../../fonts/Roboto-LightItalic.svg);
  src: url(../../fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/Roboto-Regular.woff2);
  src: url(../../fonts/Roboto-Regular.woff);
  src: url(../../fonts/Roboto-Regular.eot);
  src: url(../../fonts/Roboto-Regular.svg);
  src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url(../../fonts/Roboto-Italic.woff2);
  src: url(../../fonts/Roboto-Italic.woff);
  src: url(../../fonts/Roboto-Italic.eot);
  src: url(../../fonts/Roboto-Italic.svg);
  src: url(../../fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url(../../fonts/Roboto-Medium.woff2);
  src: url(../../fonts/Roboto-Medium.woff);
  src: url(../../fonts/Roboto-Medium.eot);
  src: url(../../fonts/Roboto-Medium.svg);
  src: url(../../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url(../../fonts/Roboto-MediumItalic.woff2);
  src: url(../../fonts/Roboto-MediumItalic.woff);
  src: url(../../fonts/Roboto-MediumItalic.eot);
  src: url(../../fonts/Roboto-MediumItalic.svg);
  src: url(../../fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../../fonts/Roboto-Bold.woff2);
  src: url(../../fonts/Roboto-Bold.woff);
  src: url(../../fonts/Roboto-Bold.eot);
  src: url(../../fonts/Roboto-Bold.svg);
  src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url(../../fonts/Roboto-BoldItalic.woff2);
  src: url(../../fonts/Roboto-BoldItalic.woff);
  src: url(../../fonts/Roboto-BoldItalic.eot);
  src: url(../../fonts/Roboto-BoldItalic.svg);
  src: url(../../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url(../../fonts/Roboto-Black.woff2);
  src: url(../../fonts/Roboto-Black.woff);
  src: url(../../fonts/Roboto-Black.eot);
  src: url(../../fonts/Roboto-Black.svg);
  src: url(../../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: italic;
  src: url(../../fonts/Roboto-BlackItalic.woff2);
  src: url(../../fonts/Roboto-BlackItalic.woff);
  src: url(../../fonts/Roboto-BlackItalic.eot);
  src: url(../../fonts/Roboto-BlackItalic.svg);
  src: url(../../fonts/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 100;
  font-style: normal;
  src: url(../../fonts/Lato-Hairline.woff2);
  src: url(../../fonts/Lato-Hairline.woff);
  src: url(../../fonts/Lato-Hairline.eot);
  src: url(../../fonts/Lato-Hairline.svg);
  src: url(../../fonts/Lato-Hairline.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  src: url(../../fonts/Lato-HairlineItalic.woff2);
  src: url(../../fonts/Lato-HairlineItalic.woff);
  src: url(../../fonts/Lato-HairlineItalic.eot);
  src: url(../../fonts/Lato-HairlineItalic.svg);
  src: url(../../fonts/Lato-HairlineItalic.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
  src: url(../../fonts/Lato-Light.woff2);
  src: url(../../fonts/Lato-Light.woff);
  src: url(../../fonts/Lato-Light.eot);
  src: url(../../fonts/Lato-Light.svg);
  src: url(../../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: italic;
  src: url(../../fonts/Lato-LightItalic.woff2);
  src: url(../../fonts/Lato-LightItalic.woff);
  src: url(../../fonts/Lato-LightItalic.eot);
  src: url(../../fonts/Lato-LightItalic.svg);
  src: url(../../fonts/Lato-LightItalic.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/Lato-Regular.woff2);
  src: url(../../fonts/Lato-Regular.woff);
  src: url(../../fonts/Lato-Regular.eot);
  src: url(../../fonts/Lato-Regular.svg);
  src: url(../../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: italic;
  src: url(../../fonts/Lato-Italic.woff2);
  src: url(../../fonts/Lato-Italic.woff);
  src: url(../../fonts/Lato-Italic.eot);
  src: url(../../fonts/Lato-Italic.svg);
  src: url(../../fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  src: url(../../fonts/Lato-Bold.woff2);
  src: url(../../fonts/Lato-Bold.woff);
  src: url(../../fonts/Lato-Bold.eot);
  src: url(../../fonts/Lato-Bold.svg);
  src: url(../../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  src: url(../../fonts/Lato-BoldItalic.woff2);
  src: url(../../fonts/Lato-BoldItalic.woff);
  src: url(../../fonts/Lato-BoldItalic.eot);
  src: url(../../fonts/Lato-BoldItalic.svg);
  src: url(../../fonts/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
  src: url(../../fonts/Lato-Black.woff2);
  src: url(../../fonts/Lato-Black.woff);
  src: url(../../fonts/Lato-Black.eot);
  src: url(../../fonts/Lato-Black.svg);
  src: url(../../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: italic;
  src: url(../../fonts/Lato-BlackItalic.woff2);
  src: url(../../fonts/Lato-BlackItalic.woff);
  src: url(../../fonts/Lato-BlackItalic.eot);
  src: url(../../fonts/Lato-BlackItalic.svg);
  src: url(../../fonts/Lato-BlackItalic.ttf);
}