img {
  &.fit-width {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &.fit-height {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  @for $br from 1 through 100 {
    &.border-radius-#{$br} {
      border-radius: $br + 0px;
    }
  }

  @for $opac from 1 through 100 {
    @if $opac % 5 == 0 {
      &.opacity-#{$opac} {
        opacity: 0% + $opac;
      }
    }
  }
}

.test-images {
  background-color: white;
  width: 30%;
  padding: 20px;
}

