$fonts: Lato, Roboto, RobotoSlab, Merriweather;
$transform: uppercase, lowercase, capitalize;
$line-decoration: overline, underline, line-through, none;
$line-style: solid, double, dotted, dashed;
$text-align: left, right, center;

$line-height: (
  "point1": 0.1,
  "point2": 0.2,
  "point3": 0.3,
  "point4": 0.4,
  "point5": 0.5,
  "point6": 0.6,
  "point7": 0.7,
  "point8": 0.8,
  "point9": 0.9
);

$font-weights: (
  "thin": 100,
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "boldest": 900
);

$font-colours: (
  "white": white,
  "grey1": $cool-grey1,
  "grey2": $cool-grey2,
  "grey3": $cool-grey3,
  "grey4": $cool-grey4,
  "grey5": $cool-grey5,
  "grey6": $cool-grey6,
  "grey7": $cool-grey7,
  "grey8": $cool-grey8,
  "grey9": $cool-grey9,
  "grey10": $cool-grey10,
  "grey11": $cool-grey11,
  "black": black
);

$font-style: normal, italic;

@each $font in $fonts {
  .#{$font}{
    font-family: $font;

    @each $key, $val in $font-weights {
      &.#{$key} {
        font-weight: $val;
      }
    }

    @each $fs in $font-style{
      &.#{$fs} {
        font-style: $fs;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li, 
td {
  @each $key, $val in $font-colours {
    &.#{$key} {
      color: $val;
    }
  }

  @for $space from 1 through 30 {
    &.ls-#{$space} {
      letter-spacing: $space + 0px;
    }
  }
  
  @for $space from 1 through 100 {
    &.ti-#{$space} {
      text-indent: $space + 0px;
    }
  }
  
  @for $space from 0 through 100 {
    &.ws-#{$space} {
      word-spacing: $space + 0px;
    }
  }
  
  @each $key, $val in $line-height {
    &.lh-#{$key} {
      line-height: $val;
    }
  }

  @for $lh2 from 1 through 30 {
    &.lh-#{$lh2} {
      line-height: $lh2;
    }
  }

  @each $tp in $transform {
    &.text-#{$tp} {
      text-transform: $tp;
    }
  }

  @each $ld in $line-decoration {
    &.line-decoration-#{$ld} {
      text-decoration: $ld;
    }
  }

  @each $ls in $line-style {
    &.line-style-#{$ls} {
      text-decoration-style: $ls;
    }
  }

  @for $tdt from 1 through 50 {
    &.line-thick-#{$tdt} {
      text-decoration-thickness: $tdt + 0px;
    }
  }

  @each $ta in $text-align {
    &.align-#{$ta} {
      text-align: $ta;
    }
  }
  @for $margin from 1 through 100 {
    &.margin-#{$margin} {
      margin: $margin + 0px;
    }
  }

  @for $marginleft from 1 through 100 {
    &.margin-left-#{$marginleft} {
      margin-left: $marginleft + 0px;
    }
  }

  @for $marginright from 1 through 100 {
    &.margin-right-#{$marginright} {
      margin-right: $marginright + 0px;
    }
  }

  @for $margintop from 1 through 100 {
    &.margin-top-#{$margintop} {
      margin-top: $margintop + 0px;
    }
  }

  @for $marginbottom from 1 through 100 {
    &.margin-bottom-#{$marginbottom} {
      margin-bottom: $marginbottom + 0px;
    }
  }

  //customisable padding
  @for $padding from 1 through 100 {
    &.padding-#{$padding} {
      padding: $padding + 0px;
    }
  }

  @for $paddingleft from 1 through 100 {
    &.padding-left-#{$paddingleft} {
      padding-left: $paddingleft + 0px;
    }
  }

  @for $paddingright from 1 through 100 {
    &.padding-right-#{$paddingright} {
      padding-right: $paddingright + 0px;
    }
  }

  @for $paddingtop from 1 through 100 {
    &.padding-top-#{$paddingtop} {
      padding-top: $paddingtop + 0px;
    }
  }

  @for $paddingbottom from 1 through 100 {
    &.padding-bottom-#{$paddingbottom} {
      padding-bottom: $paddingbottom + 0px;
    }
  }
  @for $opac from 1 through 100 {
    @if $opac % 5 == 0 {
      &.opacity-#{$opac} {
        opacity: 0% + $opac;
      }
    }
  }
}

